flask                   
flask-restful           
flask-socketio          
pymongo                 
flask_pymongo           
marshmallow             
pytest                 
redis
flask-restx
numpy
sqlalchemy
pymysql